* {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: var(--preto);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Definindo cores  */
    --roxo: #2f1f4f;
    --branco: #fff;
    --azul: #1111bd;
    --azulClaro: #0084ff;
    --azulPiscina: #d9f0f8;
    --preto: #6b6b6b;
}

body {
    /*background: var(--roxo);*/
}

h2, h3 {
    margin: 15px 0;
}

svg{
    width: 25px;
}